*{ 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    padding: 0;
    color: #4F4F4F;
    font-family: 'News Cycle', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-image: url(../images/checkoutBGBlur.png);
    background-repeat: no-repeat;
    height: 100%; overflow: hidden
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper h3{
    margin-bottom: 10px;
}

.form-wrapper h4{
    margin-bottom: 2px;
    font-size: 1.17em;
}

/* den her er forhækset..  */
.form3 {
    flex: 1;
}

.form3 i{
    margin-right: 5px;
}

.form4 {
    flex: 1;
    margin-top: 20px;
}

.form4 i{
    margin-right: 5px;
}

.sharkcards {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.sharkcards img{
    width: 8%;
    margin: 0 10px 20px 0;
}

.container {
    background-color: white;
    padding: 50px 75px 50px 75px;
    margin: 100px 150px 200px 150px;
    border-radius: 20px;
    width: 80%;
}

input[type=text] {
    width: 60%;
    margin-bottom: 20px;
    padding: 12px;
    border: solid rgba(41, 40, 40, 0.6) 1px;
    border-radius: 20px;
    font-style: italic;
    color: #4f4f4f70;
}

label {
    margin-bottom: 11px;
    display: block;
}

.btn {
    background-color: #6bbe44;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    width: 30%;
    font-family: 'News Cycle', sans-serif;
    font-weight: 500;
}

.btn:hover {
    background-color: #f1a500;
}



/* Header del fra forside */
.bfTopMenu{
	width: 100%;
	height: 7vh;
	position: fixed;
	background-image: url("../images/topbarBG2.png");
}

.overlay{
	width: 100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.topbarlogowrap{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    text-decoration: none;
}

.topbarlogowrap h1{
	font-family: Georgia, serif;
	font-weight: normal;
	color: white;
	margin-right: 1%;
	margin-bottom: 0.65%;
    font-size: 3rem;
    text-decoration: none;
}

.line1{
	height: 2px;
	width: 55%;
	background-color: white;
	opacity: 80%;
	position: absolute;
	left: 0;
	bottom: 15%;
}

.line2{
	height: 2px;
	width: 42%;
	background-color: white;
	opacity: 80%;
	position: absolute;
	right: 0;
	bottom: 15%;
}