* { 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0; 
	padding: 0; 
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.bfTopMenu{
	width: 100%;
	height: 7vh;
	position: fixed;
	background-image: url("../images/topbarBG.png");
	/*background-image: url("../images/bflogoWhite.png");*/
}

.overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.topbarlogowrap{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.topbarlogowrap h1{
	font-family: Georgia, serif;
	font-weight: normal;
	color: white;
	margin-right: 1%;
	margin-bottom: 0.65%;
	font-size: 3rem;
}

.line1{
	height: 2px;
	width: 55%;
	background-color: white;
	opacity: 80%;
	position: absolute;
	left: 0;
	bottom: 15%;
}

.line2{
	height: 2px;
	width: 42%;
	background-color: white;
	opacity: 80%;
	position: absolute;
	right: 0;
	bottom: 15%;
}

.bfSideMenu{
	width: 7vh;
	height: 93vh;
	position: fixed;
	bottom: 0;
	background-image: url("../images/sidebarBG.png");
}

.bfSideMenu .overlay{
	overflow: hidden;
	display: grid;
	grid-template-columns: 7vh 38vh;
	grid-template-rows: repeat(6, 1fr);
	justify-items: center;
	align-items: center;
	position: relative;
}

.bfSideMenu .overlay img{
	position: absolute;
	transition: opacity 0.5s ease-in-out;
}
.bfSideMenu .overlay .bot {
	opacity:0;
}

.bfSideMenu .overlay:hover .bot {
	opacity:1;
}

.bfSideMenu .overlay:hover .top {
	opacity:0;
}

.slideMenu{
	width: 400px;
}

.homeIcon{
	grid-column: 1/2;
	grid-row: 2/3;
}

.bookIcon{
	grid-column: 1/2;
	grid-row: 3/4;
}

.wrenchIcon{
	grid-column: 1/2;
	grid-row: 4/5;
}

.phoneIcon{
	grid-column: 1/2;
	grid-row: 5/6;
}

.overlay a{
	display: none;
	font-size: 3rem;
	font-family: "Open Sans Light", serif;
	font-weight: lighter;
	text-decoration: none;
	color: white;
}

.overlay a:visited{
	color: white;
}

.overlay a:hover{
	color: orange;
	pointer-events: none;
	font-family: 'Open Sans', sans-serif;

}

.homeLine{
	grid-column: 2/3;
	grid-row: 2/3;
}

.bookLine{
	grid-column: 2/3;
	grid-row: 3/4;
}

.wrenchLine{
	grid-column: 2/3;
	grid-row: 4/5;
}

.phoneLine{
	grid-column: 2/3;
	grid-row: 5/6;
}
/*---------------------------------------------------   MAPS   ---------------------------------------------------*/

/*---------------------------------------------------   PRODUCT   ---------------------------------------------------*/

.product{
	display: grid;
	grid-template-columns: 1150px 690px;
	padding-top: 7vh;
}

.product h1{
	font-family: 'News Cycle', sans-serif;
	font-size: 58px;
	padding-left: 10vh;
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.schafterWrap{
	grid-row: 2/3;
	/*background-image: url("../images/Schafter_Black.png");*/
	background-position: center;
	width: 1150px;
	height: 647px;
}

.customization{
	grid-column: 2/3;
	grid-row: 1/8;
	/*display: grid;*/
	font-family: 'News Cycle', sans-serif;
	padding: 59px;
}

.totalsum, .sumUpgrades, .carPrice{
	text-align: right;
}

.totalSumValue, .sumValue, .carValue{
	text-align: right;
	padding-right: 2vw;
}

.cashBit{
	display: grid;
	grid-template-columns: 3fr 2fr 1fr;
	align-content: center;
	grid-row: 1/2;
}

.totalsum{
	grid-column: 1/2;
	font-size: 22px;
	border-bottom: #A9A9A9 solid 1px;
}

.totalSumValue{
	grid-column: 2/3;
	font-size: 22px;
	/*padding-right: 5vw;*/
	border-bottom: #A9A9A9 solid 1px;
}

.sumUpgrades{
	grid-column: 1/2;
}

.sumValue{
	grid-column: 2/3;
}

.carPrice{
	grid-column: 1/2;
	border-bottom: #A9A9A9 solid 1px;
}

.carValue{
	grid-column: 2/3;
	border-bottom: #A9A9A9 solid 1px;
}

.shoppingcart{
	grid-column: 3/4;
	grid-row: 1/4;
	align-self: end;
	justify-self: center;
}

.shoppingcart img{
	width: 80%;
}





.colours{
	grid-row: 2/3;
}

.coloursh3{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.coloursh3 img{
	height: 100%;
	width: auto;
}

.coloursh3 h3{
	font-size: 25px;
	margin-top: 2vh;
	line-height: 25px;
	margin-bottom: 1vh;
}

.colours p, .bodykits p{
	font-size: 20px;
	margin-top: 2vh;
}

.bodykit{
	border-top: #A9A9A9 solid 1px;
	margin-top: 5vh;
}

.bodykits{
	padding-bottom: 3vh;
	border-bottom: #A9A9A9 solid 1px;
}

.neutral{
	margin-top: 0 !important;
}

.colorGrid{
	display: grid;
	grid-template-columns: 81px 81px 81px 81px 230px;
	grid-template-rows: 74px;
}

.colorGrid div{
	height: 74px;
	width: 74px;
	padding: 0;
	margin: 0 6px 0 0;
}

.colorGrid p{
	grid-column: 5/6;
	text-align: right;
	line-height: 74px;
	font-size: 20px;
	align-self: center;
}

.neutral{
	grid-column: 1/2;
	grid-row: 2/3;
}

.blackwhite{
	grid-column: 1/2;
	grid-row: 3/4;
}

.black{
	background-color: black;
}

.white{
	border: #CFCFCF solid 1px;
}

.metallic{
	grid-column: 1/2;
	grid-row: 4/5;
}

.actualcolors{
	grid-column: 1/2;
}

.blue{
	background-color: #0000ff;
}

.red{
	background-color: #ff0000;
}

.orange{
	background-color: #ffa500;
}

.green{
	background-color: #008000;
}

.chrome{
	background-color: #F2F2F2;
	border: #CFCFCF solid 1px;
}

.gold{
	background-color: #D4C786;
}

.silver{
	background-color: #F6F6F6;
}

/*.colorGrid img{*/
/*	position: absolute;*/
/*}*/

/*.checkmark{*/
/*	clip-path: polygon(27% 54%, 40% 67%, 76% 18%, 86% 29%, 40% 89%, 17% 64%);*/
/*}*/

.bodykitP{
	align-self: center;
	line-height: 74px;
}



.buynow{
	width: 435px;
	height: 57px;
	border: #707070 solid 2px;
	margin-top: 3vh;
	margin-left: 76px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 25px;
	text-decoration: none;
	color: #232323;
}

.buynow img{
	height: 50%;
	width: auto;
}

.buynow:hover{
	color: orange;
}


/*---------------------------------------------------   CHECKBOX   ---------------------------------------------------*/

input[type=checkbox] {
	position: relative;
	cursor: pointer;
}
input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 74px;
	height: 74px;
	background-color: blue;
	margin: 0;
	outline: none;
}
input[type=checkbox]:checked:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;

	background-image: url("../images/checkmark.png");
}

input[type=checkbox]{
	height: 74px;
	width: 74px;
	margin: 0;
}

input[type=checkbox].black:before{
	background-color: black;
	margin: 0;
	/*border: #CFCFCF solid 1px;*/
}

input[type=checkbox].white:before{
	background-color: white;
	margin: 0;
	border: #707070 solid 1px;
}

input[type=checkbox].blue:before{
	background-color: #0000FF;
	margin: 0;
}

input[type=checkbox].red:before{
	background-color: #FF0000;
	margin: 0;
}

input[type=checkbox].orange:before{
	background-color: orange;
	margin: 0;
}

input[type=checkbox].green:before{
	background-color: green;
	margin: 0;
}

input[type=checkbox].chrome:before{
	background-color: #F2F2F2;
	margin: 0;
	/*border: #CFCFCF solid 1px;*/
}

input[type=checkbox].gold:before{
	background-color: #D4C786;
	margin: 0;
}

input[type=checkbox].silver:before{
	background-color: #F6F6F6;
	margin: 0;
}

label{
	display: none;
}




/*---------------------------------------------------   CHECKBOX   ---------------------------------------------------*/

/*---------------------------------------------------   MAPS   ---------------------------------------------------*/
.map h2{
	text-align: center;
	font-size: 2em;
	font-family: 'News Cycle', sans-serif;
	font-weight: bold;
	margin: 5vh 0 1vh 0;
	color: #4F4F4F;
}

.map img {
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.map h4{
	text-align: center;
	font-size: 1em;
	font-family: 'News Cycle', sans-serif;
	font-weight: 500;
	color: black;
	margin: 2vh 0 3vh 0;
	font-style: italic;
}

.line3{
	height: 2px;
	width: 42%;
	background-color: black;
	position: absolute;
	right: 0;
	bottom: 15%;
}

.bottomHR {
	border: solid rgba(0,0,0,0.6) 1px;
	margin: 60px 200px 40px 200px;
}
/*---------------------------------------------------   MAPS   ---------------------------------------------------*/

/*---------------------------------------------------   FOOTER   ---------------------------------------------------*/
.footer{
	text-align: center;
	font-family: 'News Cycle', sans-serif;
	padding: 0 0 0 7vh;
	margin: 0;
	font-size: 30px;
	color: #4F4F4F;
}

.footer h2, p, a{
	text-align: left;
	font-weight: normal;
}

.footer div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(6, 1fr);
	/*height: 40vh;*/
	margin-left: 25%;
	width: 70%;
	margin-top: 3vh;
	padding-bottom: 20vh;
}

.footer a{
	display: inline-block;
	text-decoration: #2E2E2E;
	color: #2E2E2E;
}

.footer a:hover{
	color: blue;
}

.spacer{
	position: relative;
	width: 100%;
 	height: 60px;
	overflow-x: hidden;
}

.road{
	position: absolute;
	bottom: 0;
	z-index: -1;
}


.carAnimate{
	position: absolute;
	height: 60%;
	top: 30%;
	left: 75%;
	opacity: 0;
}

.carAnimate2{
	position: absolute;
	transform: scaleX(-1);
	height: 60%;
	top: 5%;
	right: 10%;
	opacity: 0;
}

.animateMeNow{
	animation: cardrive 4s ease-in;
	animation-fill-mode: forwards;
}

.animateMeNow1{
	animation: cardrive1 4s ease-in;
	animation-fill-mode: forwards;
}

.carcrash{
	animation: carcrash 1.3s ease-in;
	animation-fill-mode: forwards;
	animation-delay: 3.7s;
}

.carCrashimate{
	position: absolute;
	height: 70%;
	top: 20%;
	right: 19.8%;
	opacity: 0;
}

@keyframes cardrive {
	from{
		opacity: 1;
		left: 0;
	}
	to{
		left: 75%;
		opacity: 1;
	}
}


@keyframes cardrive1 {
	0%{
		opacity: 1;
		right: -20%;
	}

	80%{
		top: 25%;
	}

	95%{
		opacity: 1;
	}

	100%{
		top: 25%;
		right: 19%;
		opacity: 0;
	}
}

@keyframes carcrash {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
/*---------------------------------------------------   FOOTER   ---------------------------------------------------*/


/*.spacerrr{*/
/*	height: 10vh;*/
/*}*/










